<section class="home-section" id="home">
    <div class="container">
        <div class="home-wrapper">
            <h1 class="home-title">Merge, grow, and bring the land back to life</h1>
            <p class="home-text">Fieldcrest: Harvest Lines is a a chill puzzle game where you merge stuff and actually watch the farm come alive bit by
            bit. Start with scattered seeds, simple tools, and quiet empty plots. Combine crops, unlock new harvests, restore
            forgotten corners of the farm, and see empty plots turn into this amazing, bustling farm that's totally yours.</p>
        </div>
    </div>
</section>