.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Quicksand", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 2;
    text-align: center;
    color: #000;
}

.footer-img {
width: 101px;
  height: 55px;
}

.footer-navigation {
  margin-top: 60px;
  display: flex;
  align-items: center;
  justify-content:center;
  gap: 100px;
}

.footer-text {
  margin-top: 20px;
}

@media only screen and (min-width: 1440px) {
.footer-container {
font-size: 20px;
  line-height: 1.4;
  }
  .footer-img {
width: 143px;
  height: 79px;
  }

  .footer-text {
    margin-top: 60px;
  }
}