.home-section{
    background-image: url("/img/home/mob.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    height: 812px;
}
.home-wrapper{
    margin-top: 270px;
    width: 333px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        margin-left: auto;
        margin-right: auto;
}

.home-title{
    font-family: "Quicksand", sans-serif;
        font-weight: 700;
        font-size: 26px;
        text-align: center;
        color: #000;
}
@media only screen and (min-width: 1440px) {
.home-section{
    background-image: url("/img/home/desk.png");
height: 960px;
}
.home-wrapper{
    margin-top: 270px;
width: 900px;
        gap: 50px;
}

.home-title{
font-size: 66px;
}    
}
/* A quiet field with room to grow */
.quiet-container{
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.quiet-wrapper{
    width: 310px;
}
.quiet-text-wrapper{
    display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
}
@media only screen and (min-width: 1440px) {
.quiet-container{
    padding-top: 100px;
    flex-direction: row;
    justify-content: center;
    gap: 133px;
}
.quiet-wrapper{
    width: 743px;
}
.quiet-text-wrapper{
    display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
}    
}